
<nav>
    <a href="/employee/dashboard">Home</a>
</nav>
<section>
    <h1>Company List</h1>
    <div>
        <table>
            <tr>
                <th>SNO.</th>
                <th>Company Name</th>
                <th>Action</th>
            </tr>
        </table>
    </div>
</section>

