<link rel="stylesheet" href="/css/signIn.css">

<nav>
    <a href="#">Home</a>
    <a href="/signup">signUp</a>
</nav>
<section>
    <h1>Sign in to Your Account</h1>
    <form action="/sign_in" method="POST">
        <input type="text" id="email" name="email" placeholder="Enter Email" ><br><br>
        <input type="password" name="password" id="password" placeholder="Enter password"><br><br>
        <button id="button">signIn</button>
    </form>
</section>